.container {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 420px;

}

.form {
  display: flex;
  padding-top: 6px;


}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;

}


.front{
  background-color: rgb(114, 32, 32) !important;
  color: #fff;
  margin-top: 20px;

}
.front span{
  padding-left: 42%;
}
