<div class="container">

<form [formGroup]="formRegistrar">
                <div class="row">
                        <mat-toolbar class="front" >
                        <span>Actualizar Reserva</span>
                        </mat-toolbar>
                </div>
                <div  class="row"  style="margin-top: 3%">
                  <mat-form-field class="col-md-4">
                    <mat-label>Fecha de Reserva</mat-label>
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <input  matInput [(ngModel)] ="reserva.fecha_incio_reserva" [matDatepicker]="picker"  formControlName="validaFecha">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                  <mat-label>Sede</mat-label>
                  <mat-select [(ngModel)]="reserva.sede!.id_sede" formControlName="validaSede">
                    <mat-option value="-1">[Seleccione]</mat-option>
                    <mat-option *ngFor="let x of lstSede" [value]="x.id_sede">
                      {{x.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
                <div class="row" style="margin-top: 3%">
                    <mat-form-field class="col-md-4">
                      <mat-label>Codigo de mesa</mat-label>
                      <mat-select [(ngModel)]="reserva.mesas!.id_mesas" formControlName="validaCodigo">
                        <mat-option value="-1">[Seleccione]</mat-option>
                        <mat-option *ngFor="let ef of lstMesa" [value]="ef.id_mesas">
                          {{ef.id_mesas}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                </div>

                <div  class="row"  style="margin-top: 3%; margin-left: auto; margin-right: auto; max-width: fit-content;" >
                    <button mat-raised-button type="submit" color="primary" [disabled]="formRegistrar.invalid" (click)="actualiza()">Registra</button>
                </div>
</form>
  </div>


